body {
  padding-top: 120px;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='178' height='178' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23DCEFFA' fill-opacity='0.59' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
}

.navbar.scroll {
  background: white;
  border-bottom: groove;
}

.navbar-link {
  color: black;
}

.nav-link {
  color: black;
}

/* .navbar a:hover{
  background-color: #ffffff; 

} */

.navbar-right {
  border: 10px;
}

/* ditch the ugle blue outline */
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

/* hide close when burger shown */
.navbar-toggler.collapsed .close-icon {
  display: none;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  display: inline;
}

.form-inline {
  margin-right: 5%;
}

.playlist {
  display: block;
  position: absolute;
  margin-left: 15%;
  margin-top: 4%;
}

.container {
  text-align: center;
  position: relative;
}

.grid-container {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr;
  grid-gap: 1px;
  padding: 80px;
  margin-left: 80px;
  padding-left: 7%;
}

.grid-item {
  padding: 20px;
  display: inline-block;
  width: 90%;
  margin: inherit;
  transition: 0.5s ease;
  border: none;
}

.grid-item:hover {
  opacity: 0.8;
  border-radius: 23%;
}

.btn-group {
  display: block;
  text-align: center;
}
