body {
  padding-top: 120px;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='178' height='178' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23DCEFFA' fill-opacity='0.59' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
}

.navbar.scroll {
  background: white;
  border-bottom: groove;
}
  background-color: rgba(255, 255,255,0.3);
  
}

.navbar.scroll{
  background:white;
  border-bottom:groove;
}



.navbar-link {
  color: black;
}

.nav-link {
  color: black;
}

/* .navbar a:hover{
  background-color: #ffffff; 

} */

.navbar-right {
.navbar-right{
  border: 10px;
}

/* ditch the ugle blue outline */
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

/* hide close when burger shown */
.navbar-toggler.collapsed .close-icon {
  display: none;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  display: inline;
}


.form-inline {
  margin-right: 5%;
}

.playlist {
  display: block;
  margin-left: 15%;
  margin-top: 4%;
}

.container {
  text-align: center;
  position: relative;
}

.grid-container {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr;
  grid-gap: 1px;
  padding: 80px;
  margin-left: 80px;
  padding-left: 7%;
}

.grid-item {
  padding: 20px;
  display: inline-block;
  width: 90%;
  height: 55%;
  margin: inherit;
  transition: 0.5s ease;
  border: none;
}

.grid-item:hover {
  opacity: 0.8;
  border-radius: 23%;
}

.btn-group {
  display: block;
  text-align: center;
}

@import url(https://fonts.googleapis.com/css?family=Raleway);

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}


.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
=======
.form-inline{
  margin-right: 5%;
}

.playlist{
  display: block;
  position: absolute;
  margin-left: 15%;
  margin-top: 4%;
}

.container {
  text-align: center;
  position: relative;
  
}

.grid-container {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr;
  grid-gap: 1px;
  padding: 80px;
  margin-left: 80px;
  padding-left: 7%;
}

.grid-item {
  padding: 20px;
  display: inline-block;
  width: 90%;
  margin: inherit;
  transition: 0.5s ease;
  border: none;
}

.grid-item:hover {
  opacity: 0.8;
  border-radius: 23%;
}

.btn-group {
  display: block;
  text-align: cent>>> Develop
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}